
<h1> Output One </h1>
<% @input_one.each do |input|%>
<h2>Name : <%= input.name %></h2> 
<h2>Price: <%= input.total_price %></h2>
<!-- <h2> Sales tax: <%= input.sale_tax %></h2> -->
<%end%>

<h1>Tax: <%= @total_tax %></h1>
<h1>Total: <%= @total %></h1>